{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header"><h3>Новый пароль</h3></div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <input type="password" name="new_password1" class="form-control mb-2" placeholder="Новый пароль" required>
                    <input type="password" name="new_password2" class="form-control mb-2" placeholder="Подтверждение" required>
                    <button type="submit" class="btn btn-primary w-100">Сменить пароль</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}